/*CSS PAGINA HOME */

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(25, 1, 38, 1), rgba(81, 27, 110, 1));
    width: 100%;
    height: 100%;

}
html{
    width: 100%;
    min-height: 100%;
}


#header-container{
    background: linear-gradient(rgba(38, 0, 58, 1),rgba(71, 1, 109, 1));
    justify-content: space-around;
    color:white;
    font-family: Koho;
    display: flex;
    
    top: 0;
    width: 100%;
}

.about-div{
    width: 50%;
}
.help-social{
    width: 25%;
    text-align: center;
    
}
.help-social img{
    
    height: 20%;
    width: 20%;
}
#logo{
    height: 50px;
    width: 50px;
}
#logo-menu{
    height: 30px;
    width: 30px;

}

#title-header{
    font-size: 6px;
    text-transform: uppercase;
}
#title-header, #div-logo, .div-user-fav-menu, #footer-container, .input-icono{
    display: flex;
    align-items: center;
}
/*separacion entre iconos derecha header(user, fav, carrito)*/
.user-fav-shop{
    margin-left: 10px;
    height: 25px;
    width: 25px;
}
footer{
    background: linear-gradient(rgba(81, 27, 110, 1), rgba(100, 6, 151, 1));
    
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
   
    font-size: 0.6em;
    font-weight:lighter;
    padding: 20px;
}
.title-footer{
    text-align:center;
  
    text-transform: uppercase;
    font-size: 1.2em;
    
}
/* centrando el texto de copyright footer*/
#p-copyright{
    text-align: center;
    font-size: 0.6em;
}

/*contenedor de los 3 divs menos el del parrafo de copy*/
#footer-container{
    height: 100%;
    margin-left: 4%;
}


/*css para input con imagen lupita del header*/
.input-icono {
    background-image: url('images/lens.png');
    background-color: rgba(210, 194, 255, 1);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 10px;
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 14px;
    height: 20px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 2px;
    margin-top: 17px;
}
.input-icono input {
    height: 80%;
    width: 100%;
    font-size: 0.5em;
    border: none;
    background-color: rgba(210, 194, 255, 0.9);
}
.input-icono input:focus {
    outline: none;
}



/*CSS MENU HAMBURGUESA*/
.menu-btn{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}

nav{
    width: 40%;
}

.nav-container{
    display: none;

}
#nav-containers{
    font-size: 13px;
    background-color:rgba(44, 10, 62, 1) ;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 54px;
    color: rgba(166, 166, 166, 1);
    border-radius: 0px 0px 10px 10px;
}


.title-nav{
    font-size: 1.2em;
}

/*CSS MENU USUARIO*/
.user-btn{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}

nav{
    width: 40%;
}

.user-container{
    display: none;

}
#user-containers{
    font-size: 13px;
    background-color:rgba(44, 10, 62, 1) ;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 54px;
    color: rgba(166, 166, 166, 1);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}


/* PAGINAS FORMULARIO LOGIN Y REGISTER */
/* titulo de registrar y login*/
.body-log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
.contenedor {

    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

#main-title {margin-top: 2%;
    text-align: center;
    color: #ffffff;
}

/* Estilos para los campos del formulario (puedes personalizarlos según tus necesidades) */
form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"] {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #361B6E;
    width: 100%;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div-izquierdo {
    display: inline-block; /* Hace que los divs sean elementos en línea */
    
    margin-right: 40px; /* Espacio entre los divs */
}

.div-derecho {
    display: inline-block; /* Hace que los divs sean elementos en línea */
}

.img-login {
    margin-left: 35%;
}




/*CSS PAGINA DE JUEGO*/
.play-ask, .title-comment{
    display: flex;
    align-items: center;
    margin-top: 40px;
 
}
.play-ask img, .title-comment img{
    height: 50px;
    margin-right: 10px;

}

.game-container{
    display: flex;
    flex-direction: column;
    background-color:rgba(11, 2, 39, 1) ;
    width: 1655px;
    height: 966px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    align-items: center;

}
main{
    margin-left: 132.5px;
    margin-right: 132.5px;
}
.title-info{
    color:rgba(165, 143, 34, 1);
    text-transform: uppercase;
    font-size: 20px;
}
h2.title-info{
    font-size: 30px;

}
p{
    color: rgba(198, 198, 198, 1);
}
.write-container{
    background-color: rgba(10, 4, 28, 1);
    width: 1652px;
    height: 195.76px;
    top: 47.24px;
    border: solid black 1px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}
.p-ask{
    padding-left: 30px;
    padding-top: 55.5px;
    padding-bottom: 69.5px;
    color: rgba(134, 132, 132, 1);
    font-size: 28px;
    float: left;
}
#img-pencil{
    padding-top: 80.5px;

}
#img-send{
    position: absolute;
    left: 1720px;
    top: 2000px;
    
}


.comments{
    background-color: rgba(11, 2, 39, 1);
    height: 88px;
    width: 1655px;
    border-radius: 10px;
    margin-bottom: 40px;
    
    border-top-left-radius: 0px;
    
}
.comments-container{
    margin-top: 40px;
}
.p-comments{
    padding-top: 31px;
    padding-bottom: 31px;
    color: rgba(198, 198, 198, 0.8);
    padding-left: 20px;
    margin: 0;
    font-size: 22px;
}

.container-addcomment, .container-user{
    display: flex;
    align-items: center;
    background-color: rgba(22, 5, 75, 0.68);
    width: 253.54px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.p-user{
    margin-left: 30px;
    font-size: 22px;

    
}
.p-margin{
    
    font-size: large;
}
#img-user{
    height: 45px;
    width: 50px;
    margin-left: 20px;
    float: left;
}
.img-how-play{
    width: 30%;
    padding-left: 78px;
    margin-bottom: 40px;

}
.img-how-play2{
    width: 30%;
    margin-bottom: 50px;
}


@media screen and (min-width: 780px){
    body, html{

        width: 100%;
   
    }
    .div-center{
        display: flex;
        
        align-items: center;
        justify-content: center;

    }
    #header-container{
        width: 100%;
        height: 100px;
        margin-bottom: 40px;
    }
    #title-header{
        font-size: 15px;
        font-weight: 100px;
        font-family: KoHo;
    }
    .user-fav-shop{
        margin-left: 50px;
        height: 55px;
        width: 55px;
    }
    
    footer{
        position: relative;
        font-size: 1em;

        width: 100%;
    }

    .title-footer{
        text-align:center;
      
        text-transform: uppercase;
        font-size: 1.5em;
        
    }
    .help-social img{
    
        height:7%;
        width: 7%;
    }

    
    
}