body{
  
    background: linear-gradient(rgba(11, 0, 17, 1), rgba(25, 1, 38, 1), rgba(56, 15, 77, 1),rgba(81, 27, 110, 1));
    background-position: 0px, 200px;
    margin: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
html{
    min-height: 100%;
    position: relative;
}

header{
    background: linear-gradient(rgba(81, 27, 110, 1), rgba(59, 8, 87, 1),rgba(12, 1, 18, 1) );
    justify-content: space-around;
    color:white;
    font-family: Koho;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  
}
footer{
    background: linear-gradient(rgba(104, 24, 147, 1), rgba(59, 8, 87, 1), rgba(18, 0, 28, 1));
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    height: 30%;
    
}
.title-footer{
    text-align:center;
  
    text-transform: uppercase;
    font-size: 1.5em;
    
}
footer div{
    height: 100%;
    margin-left: 5%;
}
.about-div{
    width: 50%;
}
.help-social{
    width: 25%;
    text-align: center;
}
#logo{
    height: 100px;
    width: 100px;
}

#titulo-header, #div-logo, #div-user-fav, header, footer{
    display: flex;
    align-items: center;
}
/*separacion entre iconos derecha header(user, fav, carrito)*/
.user-fav-shop{
    margin-left: 40px;
    height: 45px;
    width: 45px;
}

/*css para input con imagen lupita*/
.input-icono {
    background-image: url('images/lens.png');
    background-color: rgb(225, 214, 255);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 20px;
    display: flex;
    align-items: center;
    width: 15%;
    padding-left: 28px;
    height: 30px;
    border: 1px solid rgba(9, 113, 163, 1);
    border-radius: 3px;
}
.input-icono input {
    height: 90%;
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: rgb(225, 214, 255);
}
.input-icono input:focus {
    outline: none;
}

/* FORMULARIO LOGIN Y REGISTER */
/* titulo de registrar y login*/
.contenedor {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

#main-title {
    margin-top: 0;
    text-align: center;
    color: #ffffff;
}

/* Estilos para los campos del formulario (puedes personalizarlos según tus necesidades) */
form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"] {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #361B6E;
    width: 100%;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.div-izquierdo {
    display: inline-block; /* Hace que los divs sean elementos en línea */
    
    margin-right: 40px; /* Espacio entre los divs */
}

.div-derecho {
    display: inline-block; /* Hace que los divs sean elementos en línea */
}

.img-login {
    margin-left: 35%;
}